.list{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    gap:10px;
    margin:auto 8rem;
    flex-wrap: wrap;
    /* animation: animate-in 1s ease-out forwards; */
    
}
.items{
    background-color:  rgb(197, 139, 251);
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
}
.list li{
    list-style: none;
    word-wrap: break-word
}

.NoListItems{
  display: flex;
  
  justify-content: center;
}

/* @keyframes animate-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */