.cart{
    display: flex;
    align-items: center;
    
    background-color: rgb(66, 45, 45);
    border-radius: 2rem;
    height: 5rem;
   font-size: 1.5rem;
   padding: 5px 100px 5px 50px;
   
}
.cart_child{
    display: flex;
    align-items: center;
    background-color:  brown;
    border-radius: 0.5rem;

}